

/* ProductList.css */

/* עיצוב כללי */
.language-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(135deg, #00bfff, #1e90ff, #4169e1, #00008b); /* גרדיאנט כחלחל משתנה */
}

.language-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 300px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s;
}

.language-card:hover {
  transform: scale(1.05);
}

.language-details {
  padding: 20px;
  background: linear-gradient(135deg, #00bfff, #1e90ff, #4169e1, #00008b);
  color: rgb(53, 53, 209);
}

.language-details h1 {
  margin: 0;
  font-size: 24px;
}

.language-details h2 {
  margin: 10px 0 0;
  font-size: 18px;
  color: #f3f3f3;
}

.language-footer {
  padding: 15px;
  background-color: #4e8ce195;
}

.language-footer button {
  padding: 10px 20px;
  font-size: 16px;
  color: rgb(53, 53, 209);
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.language-footer button:hover {
  background-color: #4169e1;
}

.language-footer button:active {
  background-color: #00008b;
  transform: scale(0.95);
}
