  .header-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    background-color: #2886ab;
    padding: 20px 0; 
  }
  
  .header-container nav {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; 
    flex-wrap: nowrap; 
  }
  
  .header-container nav button {
    background-color: yellow; 
    padding: 5px 10px; 
    border: 2px solid #000; 
    border-radius: 5px;
    cursor: pointer; 
    margin: 5px; 
    transition: background-color 0.3s ease; 
    font-size: 14px; 
  }
  
  .header-container nav button:hover {
    background-color: #ffd700; 
  }
  
  .header-container nav .link {
    color: #333; 
    text-decoration: none; 
    transition: color 0.3s ease; 
  }
  
  .header-container nav .link:hover {
    color: #555; 
  }
  
  .header-container .heading {
    font-size: 50px;
    font-weight: bold;
    margin: 5px 0; 
    color: white; 
    text-align: center; 
  }
  
  .header-container .logo {
    width: 130px; 
    height: 85px; 
    margin: 10px 0; 
  }
  

  @media (max-width: 600px) {
    .header-container .heading {
      font-size: 36px;
    }
  
    .header-container nav {
      flex-direction: column; 
    }
  
    .header-container nav button {
      padding: 5px 8px; 
      font-size: 12px; 
      width: 100%; 
    }
  
    .header-container .logo {
      width: 100px; 
    }
  }
  
  

